<table class="table">
  <thead class="thead-dark">
    <tr>
      <th>Name</th>
      <th>Total debt</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor='let user of users'>
      <td>{{ user.name }}</td>
      <td [ngStyle]=colorOfState(user.state)>{{ user.state | currency }}</td>
      <td>
        <i class="material-icons" (click)="getDetails(user, userInfoModal)" style="cursor: pointer;">info</i>
        <i class="material-icons" (click)="deleteUser(user)" style="cursor: pointer;">delete</i>
      </td>
    </tr>
  </tbody>
</table>
<div class="text-center">
  <button class="btn btn-dark mx-2" (click)="openModal(userModal)">Add user</button>
  <button class="btn btn-dark mx-2" (click)="openModal(borrowModal)">Borrow</button>
  <button class="btn btn-dark mx-2" (click)="openModal(expenseModal)">Add expense</button>
  <button class="btn btn-dark mx-2" (click)="openModal(earningModal)">Add earning</button>
</div>

<ng-template #userModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add user</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form [formGroup]="userForm" (ngSubmit)="addUser()">
    <div class="modal-body">
      <div class="text-center">
        <span>{{ error }}</span>
      </div>
      <div class="form-group">
        <label for="name">Name</label>
        <input id="name" class="form-control" formControlName="name">
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" type="submit">Add</button>
    </div>
  </form>
</ng-template>

<ng-template #borrowModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Borrow money</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form [formGroup]="borrowForm" (ngSubmit)="borrow()">
    <div class="modal-body">
      <div class="text-center">
        <span>{{ borrowError }}</span>
      </div>
      <div class="form-group">
        <label for="lender">Borrow from</label>
        <select id="lender" class="form-control" formControlName="lenderId">
          <option *ngFor="let user of users" [value]="user.userId">{{ user.name }}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="borrower">Borrow to</label>
        <select id="borrower" class="form-control" formControlName="borrowerId">
          <option *ngFor="let user of users" [value]="user.userId">{{ user.name }}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="borrowAmount">Amount</label>
        <input type="number" id="borrowAmount" formControlName="amount" class="form-control">
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" type="submit">Borrow</button>
    </div>
  </form>
</ng-template>

<ng-template #expenseModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Add expense</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <form [formGroup]="expenseForm" (ngSubmit)="addExpense()">
      <div class="modal-body">
        <div class="text-center">
          <span>{{ expenseError }}</span>
        </div>
        <div class="form-group">
          <label for="payingUser">Paying</label>
          <select id="payingUser" class="form-control" formControlName="userId">
            <option *ngFor="let user of users" [value]="user.userId">{{ user.name }}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="payingFor">Paying for</label>
          <ng-multiselect-dropdown [data]="users" [settings]="{enableCheckAll: true, idField: 'userId', textField: 'name'}" formControlName="memberIds">
          </ng-multiselect-dropdown>
        </div>
        <div class="form-group">
          <label for="expenseAmount">Amount</label>
          <input type="number" id="expenseAmount" formControlName="amount" class="form-control">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" type="submit">Add expense</button>
      </div>
    </form>
  </ng-template>

  <ng-template #earningModal let-modal>
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Add earning</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form [formGroup]="earningForm" (ngSubmit)="addEarning()">
        <div class="modal-body">
          <div class="text-center">
            <span>{{ earningError }}</span>
          </div>
          <div class="form-group">
            <label for="payingUser">Collecting</label>
            <select id="payingUser" class="form-control" formControlName="userId">
              <option *ngFor="let user of users" [value]="user.userId">{{ user.name }}</option>
            </select>
          </div>
          <div class="form-group">
            <label for="payingFor">Collecting for</label>
            <ng-multiselect-dropdown [data]="users" [settings]="{enableCheckAll: true, idField: 'userId', textField: 'name'}" formControlName="memberIds">
            </ng-multiselect-dropdown>
          </div>
          <div class="form-group">
            <label for="expenseAmount">Amount</label>
            <input type="number" id="expenseAmount" formControlName="amount" class="form-control">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-dark" type="submit">Add earning</button>
        </div>
      </form>
    </ng-template>


<ng-template #userInfoModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">User debts</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div *ngIf="pickedDebts == null; else debtTable">
      No debts for this user
    </div>
    <ng-template #debtTable>
      <table class="table" style="font-weight: 600">
        <thead>
          <tr>
            <th>
              Debt to
            </th>
            <th>
              Amount
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let debt of pickedDebts" [ngStyle]="rowColor(debt.amount)">
            <td>
              {{ debt.debtToUser.name }}
            </td>
            <td>
              {{ debt.amount | currency }}
            </td>
          </tr>
        </tbody>
      </table>
    </ng-template>
  </div>
</ng-template>